body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Ẩn thanh cuộn */
    background-color: #333;
    touch-action: none; /* Tắt các cử chỉ mặc định của trình duyệt */
    -ms-touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

#gameCanvas {
    display: block;
    width: 100%;
    height: 100%;
}

#zone_joystick {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; /* Nằm đè lên trên canvas để nhận cảm ứng */
}
